<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Astral_Launcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Astral_Launcher.Settings>
            <setting name="AfterLaunch" serializeAs="String">
                <value>Hide</value>
            </setting>
            <setting name="Animations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>1280x720</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.16.200</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
        </Astral_Launcher.Settings>
    </userSettings>
</configuration>
